html.js
**/lib
packages/gatsby-theme-bodiless/dist
packages/gatsby-theme-bodiless/index.js
packages/gatsby-theme-bodiless/index.d.ts
packages/bodiless-migration-tool/conf
packages/bodiless-migration-tool/tests/data
packages/bodiless-migration-tool/tests/testserver
**/public
**/.cache
**/static
**/node_modules
